table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

.thumbnail {
    max-height: 75px;
    max-width: 75px;
}

.flash{
    background-color: lightcoral;
    padding: 1em;
}